/*========================
  Author: Abbas Abdulmalik
  Creation Date: March 10, 2016
  Title: KillingMe
  Revised: 
  Purpose: 
  Note:
  //-----------------
<body>
  <div id="menuPanel" class="panel"></div>    
  <div id="mainPanel" class="panel">
    <div id="menu" class="menu"></div>
  </div>
  <div id="splashPanel"></div>
<script src="main.js" class="panel"></script>        
</body>  
=========================*/
html{
  margin: 0;
  padding:0;
  width: 100%;
  overflow-x: hidden;
  user-select: none;
}
body{
  margin: 0;
  padding:0;
  width: 100%;
  overflow-x: hidden;  
}

.panel{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#topBanner{
  float:left;
  padding-left: 2%;
  width: 50%;
}
#menuPanel{
  display: inline-block;
  z-index: 0;
  background: blue;
}
#mainPanel{
  z-index: 1;
  background: white;
  overflow-x: hidden;
  text-align: center;
  font-size: 0.5rem;
  transition: left 0.5s ease;
}
/*
.menu{
  position: absolute;
  padding: 2%;

  cursor: pointer;
  user-select: none;
}
*/
#menu{ 
  font-size: 1rem;
  cursor: pointer;
 
}
#title{
  font-size: 0.5rem;
  padding-left: 3%;

}
.menu:hover{
  color: gray;
}
#splashPanel{
  z-index: 2;
  background: red;
  opacity: 1;
  visibility: visible;
  transition: all 3.5s linear;
}














